body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

header {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

#products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-card img {
    width: 200%;
    height: 500px;
    object-fit: contain;
    border-radius: 20px;
}

.product-card h3 {
    margin-top: 10px;
}

.product-card p {
    color: green;
    font-weight: bold;
}